spring:
  application:
    name: eureka-server
  security:
    user:
      name: admin
      password: admin123
  boot:
    admin:
          ui:
            title: "Eureka Admin Dashboard"

server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: true
    eviction-interval-timer-in-ms: 60000

